.todos {
	display: flex;
	height: 20px;
	width: 330px;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.5rem;
	box-shadow: 0px 5px 10px rgb(150, 150, 150);
	padding: 10px;
	margin: 10px auto;
}

.delete-todo {
	border-radius: 1rem;
	height: 15px;
	width: 15px;
	cursor: pointer;
	border-color: rgb(200, 20, 20);
}
